.selected-category{
    border-bottom: solid red;
    color: red;
}

.all-categories{
    box-shadow: 0px 5px 5px #bfced6;
    display: -webkit-box;
    justify-content: center;
    overflow-x: auto;
    position: sticky;
    top: 10.7vh;
    background: white;
    z-index: 1
}