.text-left-align {
    float: left;
    margin: 5px;
}

.text-right-align {
    float: right;
    margin: 18px;
}
  
a {
    color: #343a40 !important;
    text-decoration: none !important;
  }
  
/* a.cart:hover {
    
    color: #d60e96;
  } */
  
.cart .cart-basket {
    font-size: .6rem;
    position: absolute;
    top: -6px;
    right: -8px;
    width: 15px;
    height: 15px;
    color: #fff;
    background-color: #418deb;
    border-radius: 50%;
    padding: 5px;
  }
  